
/* body {
    padding-top: 50px;
    text-align: center;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  } */
  
  @media (min-width: 768px){
  .container {
      max-width: 720px;
  }
}
  
  @media (min-width: 576px){
  .container {
      max-width: 540px;
  }
}
  
  h1{
    padding: 25px 0 25px 0;
  }
  
  .form{
    background-color: #e0e0e0;
  }
  
  form{
    margin: 50px 0 50px 0;
    padding: 10px;
    border:1px solid #ccc
  }
  
  form .container h3{
    margin: 10px 0px;
  }
  
  form .container p {
    font-size: .8rem;
  }
  
  .email{
    margin: 10px;
  }
  

