.navbar {
  background-color: rgb(104, 53, 6);
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color:white;
}

body {
  /* background-color: rgb(37, 21, 9); */
  background-image: url("https://static.squarespace.com/static/52f3d20ce4b0cba606f3c1f5/t/52f6d394e4b0030add8520f3/1391907732544/malts-bbhb-background.jpg");
  background-size: cover; 
}

.prodTitle {
  color:white;
  background-color: rgb(104, 53, 6);
}

.container {
  min-width: 65%;
}

.row {
  min-width: 100%;
}

.signupimg {
  max-height: 100%;
  max-width: 100%;
}

footer {
  background-color: rgb(39, 27, 20);
  padding: 15px;
  bottom: 0;
  width: 100%;
}

footer h5 {
  color: white;
}

footer ul li{
  padding:8px;
}

form {
  border: none;
}

.why-beer {
  font-size: 30;
  padding: 30px;
  font-weight: bold;
}
.product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} 
.picture {
  width: 128px;
  height: 128px;
}

#carousel {
  margin-left: auto;
  margin-right:auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em;
  max-width: 75%;
}

.carousel-inner {
  border: 15px solid rgb(104, 53, 6);
  display:flex;
  justify-content: center;
  align-items: center;
}

img.d-block {
  height: 500px;
}


body {
  text-align: center;
}
/*   
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
} */

@media (min-width: 768px){
.container {
    max-width: 720px;
}
}

@media (min-width: 576px){
.container {
    max-width: 540px;
}
}

h1{
  padding: 25px 0 25px 0;
}

.form{
  background-color: #e0e0e0;
}

form{
  margin: 50px 0 50px 0;
  padding: 10px;
  border:1px solid #ccc
}

form .container h3{
  margin: 10px 0px;
}

form .container p {
  font-size: .8rem;
}

.email{
  margin: 10px;
}
