.navbar {
  background-color: grey;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color:white;
}

footer {
  background-color: #222;
  padding: 15px;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

footer h5 {
  color: white;
}

footer ul li{
  padding:8px;
}

.why-beer {
  font-size: 30;
  padding: 30px;
  font-weight: bold;
}
.product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} 
.picture {
  width: 128px;
  height: 128px;
}

#carousel {
  margin: 2em;
  padding: 2em;
}

img.d-block {
  height: 500px;
}

